---
layout: default_alt
title: Home
lang: es
ref: home
---

<ul class="onepage-pagination">
    <li><a class="tooltipstered" data-scroll-nav="0" title="inicio"></a></li>
    <li><a class="tooltipstered" data-scroll-nav="1" title="proyectos"></a></li>
    <li><a class="tooltipstered" data-scroll-nav="2" title="servicios"></a></li>
    <li><a class="tooltipstered" data-scroll-nav="3" title="equipo"></a></li>
    <li><a class="tooltipstered" data-scroll-nav="4" title="contactar"></a></li>
</ul>

<section id="viz_holder" data-scroll-index="0">
  <div class="container">

<div class="row no-gutters">

    <div class="col-sm-3 offset-sm-9 sideTxt">

<p><span class="number">></span>Creamos <span class="rotulador2 rotulador">interfaces</span> avanzadas para navegar la complejidad de un mundo de <span class="rotulador2 rotulador">datos</span>.</p>
<p><span class="number">></span>Imaginamos <span class="rotulador2 rotulador">piezas</span> y <span class="rotulador2 rotulador">espacios</span> que dan la bienvenida y arrancan conversaciones.</p>
<p><span class="number">></span>Generamos <span class="rotulador2 rotulador">diseño</span> visual con <span class="rotulador2 rotulador">algoritmos.</span>
    </div>

</div>

  </div>
</section>

<div class="agujero medio"></div>


<div class="dark_bg" data-scroll-index="1">

<section class="container" id="projects" >
  <div class="row spaced tira justify-content-center">

      <div class="col-sm-6">
          <h6 class="bloque">proyectos</h6>
      </div>
  </div>

</section>
</div>


<div class="dark_bg">
<section class="container" id="prj_list">

<!-- prj list -->
<div class="prj row">
  {% assign posts=site.posts | where:"lang", page.lang %}
  {% for post in posts %} {% if post.extra %} {% else %}
      {%  include project_list_alt.html content=post  %}
  {% endif %} {% endfor %}
</div>

<!-- extra projects -->
<div class="prj row">
  <div id="moreprojects-container" class="collapse">
      <div id="moreprojects">
          {% for post in posts %} {% if post.extra %}
              {%  include project_list_alt.html content=post  %}
          {% endif %} {% endfor %}
      </div>
  </div>
</div>


    <!-- extra projects btn -->

    <div class="prj row spacedBottom tira justify-content-center">

        <div class="col-sm-6">
            <button type="button" id="showmore" class="btn btn-outline-secondary btn-sm btn-block">Load more projects ...</button>
        </div>
    </div>

</section>
</div>


<div class="agujero"></div>


<!-- SERVICES -->
<div class="dark_bg" data-scroll-index="2">
<section class="container" id="services">

  <div class="row spaced tira justify-content-center">
      <div class="col-sm-6">
          <h6 class="bloque">servicios</h6>
      </div>
  </div>


  <div class="row justify-content-center spacedBottom">
    <div class="col-md-10">


      <div class="row spacedBottom">

        <div class="col-md-4 offset-md-1 order-md-12">
          <h5 class="side"><span>Consultoría</span> de <span>comunicación</span> a traves de <span>datos</span></h5>

          </div>


            <div class="col-md-6 bg_line">
              <p>Ayudamos a tu <span>organización</span> a extraer <span>conocimiento</span> de tus <span>datos</span> para facilitar su <span>comprensión</span> y su <span>comunicación</span>  <span class="nrj">.</span></p>
              </div>


      </div>


      <div class="row spacedBottom">

        <div class="col-md-4 offset-md-1 order-md-12">
          <h5 class="side"><span>Interfaces</span> a medida para <span>navegar</span> por <span>información</span> compleja</h5>

          </div>

            <div class="col-md-6 bg_line">

              <p>Diseñamos y desarrollamos soluciones a medida para navegar y explorar conjuntos de información compleja e interrelacionada  <span class="nrj">.</span></p>

              </div>



      </div>


      <div class="row spacedBottom">

        <div class="col-md-4 offset-md-1 order-md-12">
          <h5 class="side"><span>Experiencias<br/>interactivas</span></h5>

          </div>

            <div class="col-md-6 bg_line">

              <p>Ideamos instalaciones inmersivas e interactivas para el descubrimiento, la divulgación y el aprendizaje en Museos y espacios públicos <span class="nrj">.</span></p>

              </div>



      </div>


      <div class="row ">

        <div class="col-md-4 offset-md-1 order-md-12">
          <h5 class="side"><span>Data-art</span> y visualización de contenidos en <span>tiempo real</span></h5>

          </div>

            <div class="col-md-6 bg_line">

              <p>Creamos contenidos digitales para grandes pantallas y con nuevos medios y tecnologías para contextos y públicos especiales </p>
              <p>Utilizamos la información y los datos como elementos a partir de los cuales crear animaciones y esculturas de datos  <span class="nrj">.</span></p>

              </div>



      </div>



    </div>

  </div>

  <div class="row justify-content-center spacedBottom">
    <div class="col-sm-10">
      <p class="bigger">Adaptamos el <span class="rotulador2">método</span> al tipo proyecto, apoyándonos en el diseño <span class="rotulador2">participativo</span> y con una gran consideración a la experiencia de uso.</p>

      </div>
    </div>

</section>
</div>



<section class="container" id="team" data-scroll-index="3">
  <div class="row spacedTop tira justify-content-center">

      <div class="col-sm-6">
          <h6 class="bloque">equipo</h6>
      </div>
  </div>

    <div class="row spaced justify-content-center">
          <div class="col-xs-6 col-sm-3">
              <img src="{{site.baseurl}}/public/images/sergio.jpg" alt="sergio" class="img-responsive rounded-circle">
              <h5><span class="nombre">Sergio</span> Galán <span class="nrj">.</span></h5>
              <p>Diseñador de interacción y programador creativo. Para todo</p>
          </div>

            <div class="col-sm-3">
                <img src="{{site.baseurl}}/public/images/alfredo.jpg" alt="Alfredo" class="img-responsive rounded-circle">
                <h5><span class="nombre">Alfredo</span> Calosci <span class="nrj">.</span></h5>
                <p>Diseño, programo, enseño ... para la Comunicación</p>
            </div>
<!--
            <div class="col-sm-3">
              <img src="{{site.baseurl}}/public/images/chema.jpg" alt="chema" class="img-responsive rounded-circle">
              <h5><span class="nombre">Chema </span> Blanco <span class="nrj">.</span></h5>
              <p>Resuelve problemas. Gestiona proyectos</p>
            </div>
-->
            <div class="col-sm-3">
                <img src="{{site.baseurl}}/public/images/guille.jpg" alt="guillermo" class="img-responsive rounded-circle">
                <h5><span class="nombre">Guillermo</span> Casado <span class="nrj">.</span></h5>
                <p>Artista de la ciencia. Entre el museo y la calle</p>
            </div>
    </div>
</section>


<div class="agujero medio"></div>

<div class="dark_bg">
<section class="container" id="contact" data-scroll-index="4">

  <div class="row spaced tira justify-content-center">


      <div class="col-sm-6">
          <h6 class="bloque">Contacto</h6>
      </div>

  </div>


<div class="row">
  <div class="col" id="globe">
     <canvas width="960" height="360"></canvas>
  </div>
</div>

  <div class="row justify-content-center ">
    <div class="col-sm-9 text-center">
      <p class="bigger">Estamos en <span class="rotulador2">Madrid</span> ... </p>
      <h5>¿ hablamos ?</h5>
      </div>
    </div>

</section>
</div>
