---
layout: default_alt
title: Home
lang: es
ref: home2
---

<section id="viz_holder">
  <div class="container" style="position:absolute margin:auto">

    <div class="col-sm-3 offset-sm-9 sideTxt">

<p><span class="number">></span>Creamos <span class="rotulador2 rotulador">interfaces</span> avanzadas para navegar la complejidad de un mundo de <span class="rotulador2 rotulador">datos</span>.</p>
<p><span class="number">></span>Imaginamos <span class="rotulador2 rotulador">piezas</span> y <span class="rotulador2 rotulador">espacios</span> que dan la bienvenida y arrancan conversaciones.</p>
<p><span class="number">></span>Generamos <span class="rotulador2 rotulador">diseño</span> visual con <span class="rotulador2 rotulador">algoritmos.</span>
    </div>



  </div>
</section>

<!--
<section class="container h-100" id="home_2">

    <div class="row justify-content-center spacedBottom">

        <div class="col-sm-6">
          <img src="public/images/proyectos/viz_test.png" class="img-fluid" alt="Responsive image"/>
        </div>

        <div class="col-sm-3 offset-sm-2 sideTxt">

<p><span class="number">></span>Creamos <span class="rotulador2 rotulador">interfaces</span> avanzadas para navegar la complejidad de un mundo de <span class="rotulador2 rotulador">datos</span>.</p>
<p><span class="number">></span>Imaginamos <span class="rotulador2 rotulador">piezas</span> y <span class="rotulador2 rotulador">espacios</span> que dan la bienvenida y arrancan conversaciones.</p>
<p><span class="number">></span>Generamos <span class="rotulador2 rotulador">diseño</span> visual con <span class="rotulador2 rotulador">algoritmos.</span>
        </div>

    </div>

</section>
-->




<section class="container" id="projects">
  <div class="row spacedBottom tira justify-content-center">

      <div class="col-sm-6">
          <h6 class="bloque">proyectos</h6>
      </div>
  </div>

</section>




<section class="container" id="prj_list">

<!-- prj list -->
<div class="prj row">
  {% assign posts=site.posts | where:"lang", page.lang %}
  {% for post in posts %} {% if post.extra %} {% else %}
      {%  include project_list_alt.html content=post  %}
  {% endif %} {% endfor %}
</div>

<!-- extra projects -->
<div class="prj row">
  <div id="moreprojects-container" class="collapse">
      <div id="moreprojects">
          {% for post in posts %} {% if post.extra %}
              {%  include project_list_alt.html content=post  %}
          {% endif %} {% endfor %}
      </div>
  </div>
</div>
    <!-- extra projects

    <div id="moreprojects-container" class="collapse">
        <div id="moreprojects" class="prj row">

            {% for post in site.posts %} {% if post.extra %}

            <div class="col-sm-4">
                <div class="card">

                  {% if post.image %}
                  <img class="card-img-top" src="{{site.baseurl}}/public/images/proyectos/{{ post.image }}.jpg" />
                  {% endif %}

                  {% if post.video %}
                  <div class="image-prj">
                  <video autoplay="autoplay" loop="loop" width="100%" poster="{{site.baseurl}}/public/images/proyectos/{{ post.video }}.jpg">
                  <source src="{{site.baseurl}}/public/images/proyectos/{{ post.video }}.mp4" type="video/mp4" />
                  <img class="card-img-top" src="{{site.baseurl}}/public/images/proyectos/{{ post.video }}.jpg" />
                  </video>
                  </div>
                  {% endif %}


              <div class="card-body">
                  <h6>{{ post.title }}</h6>
                  <h6 class="client">{{ post.client }}</h6>
                <p class="card-text">{{ post.description }}</p>
              </div>

            </div>

            </div>

            {% endif %} {% endfor %}
        </div>
    </div>

-->

    <!-- extra projects -->



    <div class="prj row spacedBottom tira justify-content-center">

        <div class="col-sm-6">
            <button type="button" id="showmore" class="btn btn-outline-secondary btn-sm btn-block">Load more projects ...</button>
        </div>
    </div>

</section>


<!-- SERVICES -->
<section class="container" id="services">

  <div class="row spaced tira justify-content-center">
      <div class="col-sm-6">
          <h6 class="bloque">servicios</h6>
      </div>
  </div>


  <div class="row justify-content-center spacedBottom">
    <div class="col-md-10">


      <div class="row spacedBottom">

        <div class="col-md-4 offset-md-1 order-md-12">
          <h5 class="side"><span>Consultoría</span> de <span>comunicación</span> a traves de <span>datos</span></h5>

          </div>


            <div class="col-md-6 bg_line">

              <p>Ayudamos a tu <span>organización</span> a extraer <span>conocimiento</span> de tus <span>datos</span> para facilitar su <span>comprensión</span> y su <span>comunicación</span>  <span class="nrj">.</span></p>

              </div>


      </div>


      <div class="row spacedBottom">

        <div class="col-md-4 offset-md-1 order-md-12">
          <h5 class="side"><span>Interfaces</span> a medida para <span>navegar</span> por <span>información</span> compleja</h5>

          </div>

            <div class="col-md-6 bg_line">

              <p>Diseñamos y desarrollamos soluciones a medida para navegar y explorar conjuntos de información compleja e interrelacionada  <span class="nrj">.</span></p>

              </div>



      </div>


      <div class="row spacedBottom">

        <div class="col-md-4 offset-md-1 order-md-12">
          <h5 class="side"><span>Experiencias<br/>interactivas</span></h5>

          </div>

            <div class="col-md-6 bg_line">

              <p>Ideamos instalaciones inmersivas e interactivas para el descubrimiento, la divulgación y el aprendizaje en Museos y espacios públicos <span class="nrj">.</span></p>

              </div>



      </div>


      <div class="row ">

        <div class="col-md-4 offset-md-1 order-md-12">
          <h5 class="side"><span>Data-art</span> y visualización de contenidos en <span>tiempo real</span></h5>

          </div>

            <div class="col-md-6 bg_line">

              <p>Creamos contenidos digitales para grandes pantallas y con nuevos medios y tecnologías para contextos y públicos especiales </p>
              <p>Utilizamos la información y los datos como elementos a partir de los cuales crear animaciones y esculturas de datos  <span class="nrj">.</span></p>

              </div>



      </div>

<!--
      <div class="row spacedBottom">
        <div class="col">
          <p class="bigger">Adaptamos el <span class="rotulador2">método</span> al tipo proyecto, apoyándonos en el diseño <span class="rotulador2">participativo</span> y con una gran consideración a la experiencia de uso.</p>

          </div>
        </div>
-->





    </div>

  </div>

  <div class="row justify-content-center spacedBottom">
    <div class="col-sm-10">
      <p class="bigger">Adaptamos el <span class="rotulador2">método</span> al tipo proyecto, apoyándonos en el diseño <span class="rotulador2">participativo</span> y con una gran consideración a la experiencia de uso.</p>

      </div>
    </div>



<!--
    <div class="row justify-content-center spacedBottom">

        <div class="col-md-10">
            <div class="row spacedBottom">
                <div class="col-md-6 pr-5">
                    <h5><span>Consultoría</span> de <span>comunicación</span> a traves de <span>datos</span></h5>
                    <p>Ayudamos a tu <span>organización</span> a extraer <span>conocimiento</span> de tus <span>datos</span> para facilitar su <span>comprensión</span> y su <span>comunicación</span>  <span class="nrj">.</span></p>
                </div>

                <div class="col-md-6 pl-5">
                    <h5><span>Interfaces</span> a medida para <span>navegar</span> por <span>información</span> compleja</h5>
                    <p> Diseñamos y desarrollamos soluciones a medida para navegar y explorar conjuntos de información compleja e interrelacionada  <span class="nrj">.</span></p>
                </div>
            </div>

            <div class="spacedBottom row">
                <div class="col-md-6 pr-5">
                    <h5><span>Experiencias<br/>interactivas</span></h5>
                    <p>Instalaciones inmersivas e interactivas para el descubrimiento, la divulgación y el aprendizaje en Museos y espacios públicos <span class="nrj">.</span></p>
                </div>

                <div class="col-md-6 pl-5">
                    <h5><span>Data-art</span> y visualización de contenidos en <span>tiempo real</span></h5>
                    <p>Contenidos digitales en grandes pantallas y con nuevos medios y tecnologías para contextos y públicos especiales</p>
                    <p>Utilizamos la información y los datos como elementos a partir de los cuales crear animaciones y esculturas de datos  <span class="nrj">.</span></p>
                </div>

            </div>


            <div class="row spacedBottom">
                <div class="col">
                    <p class="bigger">Adaptamos el <span class="rotulador2">método</span> al tipo proyecto, apoyándonos en el diseño <span class="rotulador2">participativo</span> y con una gran consideración a la experiencia de uso.</p>
                </div>
            </div>
        </div>

    </div>
-->

</section>




<section class="container" id="team">
  <div class="row spacedTop tira justify-content-center">

      <div class="col-sm-6">
          <h6 class="bloque">equipo</h6>
      </div>
  </div>

    <div class="row spaced justify-content-center">
          <div class="col-xs-6 col-sm-3">
              <img src="{{site.baseurl}}/public/images/sergio.jpg" alt="sergio" class="img-responsive rounded-circle">
              <h5><span class="nombre">Sergio</span> Galán <span class="nrj">.</span></h5>
              <p>Diseñador de interacción y programador creativo. Para todo</p>
          </div>

            <div class="col-sm-3">
                <img src="{{site.baseurl}}/public/images/alfredo.jpg" alt="Alfredo" class="img-responsive rounded-circle">
                <h5><span class="nombre">Alfredo</span> Calosci <span class="nrj">.</span></h5>
                <p>Diseño, programo, enseño ... para la comunicación</p>
            </div>
<!--
            <div class="col-sm-3">
              <img src="{{site.baseurl}}/public/images/chema.jpg" alt="chema" class="img-responsive rounded-circle">
              <h5><span class="nombre">Chema </span> Blanco <span class="nrj">.</span></h5>
              <p>Resuelve problemas. Gestiona proyectos</p>
            </div>
-->
            <div class="col-sm-3">
                <img src="{{site.baseurl}}/public/images/guille.jpg" alt="guillermo" class="img-responsive rounded-circle">
                <h5><span class="nombre">Guillermo</span> Casado <span class="nrj">.</span></h5>
                <p>Artista de la ciencia. Entre el museo y la calle</p>
            </div>
    </div>
</section>




<section class="container" id="contact">

  <div class="row spaced tira justify-content-center">


      <div class="col-sm-6">
          <h6 class="bloque">Contacto</h6>
      </div>

  </div>


<div class="row">
  <div class="col" id="globe">
     <canvas width="960" height="360"></canvas>
  </div>
</div>

  <div class="row justify-content-center ">
    <div class="col-sm-9 text-center">
      <p class="bigger">Estamos en <span class="rotulador2">Madrid</span> ... </p>
      <h5>¿ hablamos ?</h5>
      </div>
    </div>

</section>
