<!--Footer-->
<footer>

      <section class="container">
      <div class="row">
        <div class="col">
            <p>this is the footer</p>
          </div>

          <div class="col">
               <p class="simple-footer" align="center">&copy; {{ site.time | date: '%Y' }} <a class="simple-footer" href="{{ site.baseurl }}/">{{ site.title }}</a></p>
            </div>

            <div class="col">
                <p>this is the footer</p>
              </div>
      </div>
    </section>


  	<script src="https://use.fontawesome.com/354fa17669.js"></script>
  <!-- Bootstrap JS -->

  <script src="{{ site.baseurl }}/public/js/jquery-3.2.1.min.js"></script>
	<script src="{{ site.baseurl }}/public/js/tether.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/public/bower_components/popper.js/dist/umd/popper.min.js"></script>
  <script src="{{ site.baseurl }}/public/js/bootstrap.min.js"></script>

 <script src="{{ site.baseurl }}/public/js/main.js"></script>
   <!-- slideout -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>

</footer>
<!--/.Footer-->
