<!--Footer-->
<footer>

    <section class="container">
      <div class="row">

        <div class="col-sm-4">
          <p class="simple-footer">{{ site.time | date: '%Y' }} <span class="rotulador2">|</span> <a class="simple-footer" href="{{ site.baseurl }}/">oblika</a>.es</p>
      <!--     <p class="simple-footer">&copy; {{ site.time | date: '%Y' }} <a class="simple-footer" href="{{ site.baseurl }}/">{{ site.title }}</a></p>-->
        </div>

        <div class="col-sm-4">
            <p>your data communication agency - alt</p>
        </div>

        <div class="col-sm-4 text-right">
          <p>[ <a href="mailto:info@oblika.es">info@oblika.es</a> ]</p>
        </div>

      </div>
    </section>


  <script src="https://use.fontawesome.com/354fa17669.js"></script>
  <!-- Bootstrap JS -->

  <script src="{{ site.baseurl }}/public/js/jquery-3.2.1.min.js"></script>
	<script src="{{ site.baseurl }}/public/js/tether.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/public/bower_components/popper.js/dist/umd/popper.min.js"></script>
  <script src="{{ site.baseurl }}/public/js/bootstrap.min.js"></script>

 <script src="{{ site.baseurl }}/public/js/main.js"></script>

   <!-- slideout -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>

   <script>

   // smooth scroll
   $('a[href*="#"]').on('click', function (e) {
	    e.preventDefault();

	     $('html, body').animate({
		       scrollTop: $($(this).attr('href')).offset().top - 120
	        }, 500, 'linear');
      });


  // hide navbar on scroll down
  $(function () {
    var lastScrollTop = 0;
    var $navbar = $('.navbar');

  $(window).scroll(function(event){
    var st = $(this).scrollTop();

    if (st > lastScrollTop) { // scroll down

      // use this is jQuery full is used
      $navbar.fadeOut()

      // use this to use CSS3 animation
      // $navbar.addClass("fade-out");
      // $navbar.removeClass("fade-in");

      // use this if no effect is required
      // $navbar.hide();
    } else { // scroll up

      // use this is jQuery full is used
      $navbar.fadeIn()

      // use this to use CSS3 animation
      // $navbar.addClass("fade-in");
      // $navbar.removeClass("fade-out");

      // use this if no effect is required
      // $navbar.show();
    }
    lastScrollTop = st;
  });
});

</script>


<!-- geo globe -->
<script>
var geojson = {}

var context = d3.select('#globe canvas')
  .node()
  .getContext('2d');

// geoOrthographic
var projection = d3.geoAzimuthalEqualArea()
  .scale(220)
  .center([0, 0])
  .rotate([0,-56,-10])
  .translate([480, 180]);

var geoGenerator = d3.geoPath()
  .projection(projection)
  .pointRadius(4)
  .context(context);

//var yaw = 300;
var yaw = -10;

function update() {
  projection.rotate([yaw, -90-yaw, -10])

  context.clearRect(0, 0, 960, 600);

  context.lineWidth = 0.5;
  context.strokeStyle = '#fff';
  context.fillStyle = '#999999';

  context.beginPath();
  geoGenerator({type: 'FeatureCollection', features: geojson.features})
  //  context.stroke();
  context.fill();

  // Graticule
  var graticule = d3.geoGraticule();
  context.beginPath();
  context.strokeStyle = '#ccc';
  geoGenerator(graticule());
  context.stroke();

  // Circle 2
  /*
  var circle2 = d3.geoCircle().center([0, 90]).radius(50)
  context.beginPath();
  //context.fillStyle = '#00c800';
  context.strokeStyle = '#00c800';
  context.lineWidth = 1;
  geoGenerator(circle2());
  //context.fill();
  context.stroke();
  */

  // Circle
  var circle = d3.geoCircle().center([-3.707398, 40.415363]).radius(1)
  context.beginPath();
  context.fillStyle = '#00c800';
  context.strokeStyle = '#fff';
  context.lineWidth = 2.5;
  geoGenerator(circle());
  context.fill();
  context.stroke();


  yaw -= 0.1
}

// https://gist.githubusercontent.com/d3indepth/f28e1c3a99ea6d84986f35ac8646fac7/raw/c58cede8dab4673c91a3db702d50f7447b373d98/ne_110m_land.json
// REQUEST DATA
d3.json('world_a.json', function(err, json) {
  geojson = json;
  window.setInterval(update, 100);
})

  </script>

</footer>
<!--/.Footer-->
