<section class="container fixed-top ">
        <nav id="navbar-oblika" class="navbar navbar-expand-lg  navbar-dark">

          <a class="navbar-brand" href="#">
            <!--<img src="{{ site.baseurl }}/public/images/logo.png" alt=""/>-->
            <span class="parentesi">[ </span> oblika <span class="pipe">|</span> <span class="claim"> {{site.claim[page.lang]}} </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <!--<span class="navbar-toggler-icon"></span>-->
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>

          <div class="collapse navbar-collapse"  id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                {% for menu in site.t[page.lang] %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ menu[1].url }}">{{ menu[1].name }}</a>
                    </li>
                  {% endfor %}
                  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                  {% for page in pages %}
                  <li class="nav-item language-switch">
                     <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
                  </li>
                  {% endfor %}


            </ul>
          </div>
        </nav>
    </section>
