
	<!--	<div class="row spacedTop">


				<a href="#" class="toggle-button"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a>
			</div>


			<div class="col-sm-3 oio_brand">
        <p class="oblicuas">oblika<span class="nrj">.</span><span class="domain">es</span></p>
          <p class="claim">comunicación con algoritmos</p>
			</div>

      <div class="col-sm-8">
        <nav>
          <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">projects</a></li>
            <li><a href="#">team</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </nav>

      </div>


			<div class="col-sm-1 text-right d-none d-sm-block">

				<a href="#" class="toggle-button"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a>
			</div>
		</div> -->
<section class="container-fluid fixed-top">
        <nav class="navbar navbar-expand-md  navbar-dark">
          <a class="navbar-brand" href="#"> <img src="{{ site.baseurl }}/public/images/logo.png" alt=""/> </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse "  id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#">team</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#">contact</a>
                </li>
            </ul>
          </div>
        </nav>
    </section>
