<nav class="navbar navbar-default" id="navegacion">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
            <a class="navbar-brand" href="#">Oblika.io</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link 2</a></li>
            </ul>
        </div>


        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="section full-page" id="cover">
        <div class="row">
            <div class="col-md-2">
                <div id="intro-text">
                    {{:claim}}
                </div>
                <div style="margin-top:20px; margin-bottom:70px;">
                    hi@oblika.io
                </div>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col-md-3 ml-md-auto ">
                <div id="intro-text-2"> {{:introtext}}
                </div>
            </div>
                <div class="col-md-1">
                </div>
        </div>
    </div>


    <div class="section " id="proyectos">
        <h2 class="subtitle"> {{:projects}}</h2>
        <div class="row justify-content-center align-items-center no-gutters" id="coverprojects">

        </div>
        <div id="moreprojects-container" class="collapse">
            <div class="row justify-content-center align-items-center no-gutters" id="moreprojects">

            </div>
        </div>
    </div>

    <div style="text-align:center; font-weight:bold" id="showmore-container">
        <a href="#" id="showmore"> ++ load more projects ++ </a>
    </div>
    <!-- projects -->

    <div class="section" id="servicios">
        <h2 class="subtitle"> Servicios</h2>
        <div class="row">
            <div class="col-md-3 ml-md-auto">
                <div class="service-text">
                    {{:service1}}
                </div>
                <div class="service-text">
                    {{:service2}}
                </div>
            </div>
            <div class=" col-md-3 mr-md-auto">
                <div class="service-text">
                    {{:service3}}
                </div>
                <div class="service-text">
                    {{:service4}}
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <p class="quote">
                    {{:quote}}
                </p>
            </div>

        </div>
    </div>
    <div class="section" id="equipo">
        <h2 class="subtitle"> Equipo</h2>
        <div class="row justify-content-center">
            <div class="col-sm-7 col-xl-2 col-lg-3 ">
                <div class="gente-grp">
                    <h3> Sergio Galán</h3>
                    <img src="images/sergio.jpg" / class="img-fluid">
                    <p> {{:sergio}}</p>
                    <p class="redes"> rrss</p>
                </div>
            </div>
            <div class="col-sm-7 col-xl-2 col-lg-3 ">
                <div class="gente-grp">
                    <h3> Alfredo Calosci</h3>
                    <img src="images/alfredo.jpg" / class="img-fluid">
                    <p> {{:alfredo}}</p>
                    <p class="redes"> rrss</p>
                </div>
            </div>
            <div class="col-sm-7  col-xl-2 col-lg-3 ">
                <div class="gente-grp">
                    <h3> Chema Blanco</h3>
                    <img src="images/chema.jpg" / class="img-fluid">
                    <p> {{:chema}}</p>
                    <p class="redes"> rrss</p>
                </div>
            </div>
            <div class="col-sm-7 col-xl-2 col-lg-3">
                <div class="gente-grp">
                    <h3> Guillermo Casado</h3>
                    <img src="images/guille.jpg" / class="img-fluid">
                    <p> {{:guillermo}} </p>
                    <p class="redes"> rrss</p>
                </div>
            </div>
        </div>
    </div> <!-- equipo -->

    <div class="section" id="Contacto">
        <h2 class="subtitle"> Contacto</h2>
        <div class="row justify-content-md-center">
            <div class="col-sm-3 ">
                <div class="service-text">
                    <h3> Redes </h3>
                    <p> </p>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="service-text">
                    <h3> mail  </h3>
                    <p>  </p>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="service-text">
                    <h3> Telefono  </h3>
                    <p>  </p>
                </div>
            </div>
        </div>
    </div>

<footer>
    <div class="container">

    </div>
</footer>
